<div class="retract">
    <p class="clickable" (click)="isOpen=!isOpen">{{isOpen?'➡':'⬅'}}</p>
</div>
<div class="container" [@openClose]="isOpen?'opened':'closed'">
    <div class="quetes" *ngFor="let quete of getQuetes('secondaire');let i=index">
        <div class="quete" *ngIf="isOpen">
            <p class="nom" (click)="quete.showDesc = !quete.showDesc">{{quete.nom}}</p>
            <div class="objectifs">
                <p *ngFor="let objectif of getObjectifs(quete)">- {{objectif}}</p>
            </div>
            <div class="description" *ngIf="quete.showDesc">
                <p class="etape">{{quete.etapeEnCours.id}} - {{quete.etapeEnCours.nom}}</p>
                <p>{{quete.etapeEnCours.description}}</p>
            </div>
           

        </div>
    </div>
</div>