<div>
    <p>Ajouter une entité</p>
    <div class="line"></div>
    <div class="flex levels">
        <p *ngFor="let letter of alphabet" class="choix"
            (click)="letterSelected==letter?letterSelected='':letterSelected=letter"
            [style.color]="letterSelected==letter?'red':'white'">{{letter}}</p>
    </div>
    <div class="flex levels">
        <p class="level">Level :</p>
        <p *ngFor="let level of levels" class="choix"
            (click)="levelSelected==level?levelSelected=0:levelSelected=level"
            [style.color]="levelSelected==level?'red':'white'">{{level}}</p>
    </div>
    <div class="flex levels">
        <p class="level">Type :</p>
        <p *ngFor="let type of types" class="choix"
            (click)="typeSelected==type?typeSelected=undefined:typeSelected=type"
            [style.color]="typeSelected==type?'red':'white'">{{type}}</p>
    </div>
    <div class="line"></div>
    <div class="flex levels">
        <p class="level">Team :</p>
        <p *ngFor="let equipe of teams" class="choix" (click)="clickTeam(equipe)"
            [style.color]="teamSelected==equipe?'red':'white'">{{equipe}}</p>
    </div>
    <div class="flex levels">
        <p class="level">Level :</p>
        <div *ngIf="entitySelected!=undefined" class="flex">
            <p class="choixSansTransi" *ngIf="!entitySelected.levels">Un seul niveau disponible</p>
            <p *ngFor="let level of entitySelected.levels" class="choix" (click)="clickMonsterLevel(level)"
                [style.color]="monsterLevelSelected==level?'red':'white'">{{level.niveau}}</p>
        </div>

    </div>
    <div class="apercu" *ngIf="entitySelected">
        <app-infos-entite [perso]="entitySelected" [data]="data"></app-infos-entite>
        <!-- LEVEL =================================================== -->

        <app-level [niveau]="entitySelected.niveau"></app-level>

    </div>
    <p>{{focus?focus.niveau + ' - ' + focus.nom:'&nbsp;'}}</p>
    <div class="persos flex">
        <div *ngFor="let entite of getEntitesPossibles()">
            <app-icone-personnage [perso]="entite"
                [selected]="entitySelected!=undefined&&entitySelected.nom==entite.nom" (mouseenter)="focus=entite"
                (mouseleave)="focus=undefined" (click)="clickEntite(entite)">
            </app-icone-personnage>
            <p class="pv">{{entite.pdv}}</p>
            <p class="pm">{{entite.mana}}</p>
        </div>
    </div>
    <p class="choix" *ngIf="entitySelected!=undefined" (click)="addEntity()">Valider</p>
</div>