<div class="fenetre" [cdkDragDisabled]="fenetre=='modifMap'" [style.left]="(fenetre=='modifMap'?120:menu.x)+'px'"
    [style.top]="(fenetre=='modifMap'?20:menu.y)+'px'" cdkDrag>
    <p class="croix clickable" (click)="close()">X</p>
    <div *ngIf="fenetre==''">
        <p (click)="fenetre='addEntity'" class="choix" *ngIf="menu.type=='map'"> Ajouter une entité</p>
        <p (click)="fenetre='addObjet'" class="choix" *ngIf="menu.type=='entite'&&data.admin"> (A) Ajouter un objet</p>
        <p (click)="fenetre='modifMap'" *ngIf="menu.type=='map'&&data.admin" class="choix">(A) Modifier map</p>
        <p (click)="sauvegarde()" *ngIf="menu.type=='map'" class="choix">Sauvegarder</p>
        <p (click)="repos()" *ngIf="menu.type=='map'" class="choix">Repos</p>
        <p (click)="quete=true;" *ngIf="menu.type=='entite'&&getQuetes().length>0" class="choix">Quetes ({{nbrQuetes}})
        </p>
        <p (click)="deletion()" *ngIf="menu.type=='entite'&&!perso.joueur" class="choix">{{delete}}</p>
        <p (click)="clickLierFamilier()" *ngIf="menu.type=='entite'&&perso.familier" class="choix">
            {{(perso.statutFamilier=='lie'?'Délier Familier':'Lier Familier')}}</p>
        <p (click)="clickAfficherFamilier()" *ngIf="menu.type=='entite'&&perso.familier" class="choix">
            {{(perso.statutFamilier=='affiche'?'Cacher Familier':'Afficher Familier')}}</p>
        <p (click)="perso.team=perso.team-1" *ngIf="menu.type=='entite'&&perso.team>0" class="choix">Améliorer relation
        </p>
        <p (click)="perso.team=perso.team+1" *ngIf="menu.type=='entite'&&perso.team<2" class="choix">Baisser relation
        </p>
    </div>

    <app-add-entite *ngIf="fenetre=='addEntity'" [data]="data" [menu]="menu"></app-add-entite>
    <app-add-item-loot *ngIf="fenetre=='addObjet'" [data]="data" [perso]="perso"></app-add-item-loot>
    <app-modif-map *ngIf="fenetre=='modifMap'" [data]="data"></app-modif-map>
</div>