p {
    color: white;
    text-align: center;
}

.fenetre:hover {
    cursor: move;
}

.choix {
    color: white;
    white-space: nowrap;
}

.objets {
    max-height: 110px;
    overflow-y: scroll;
}

.objet img {
    width: 36px;
    height: 36px;
}

.objet:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.persos {
    max-width: 560px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.pv {
    color: green;
}

.pm {
    color: #5050cc;
}

.rulesContainer * {
    width: 100%;
}

.level {
    top: 8px;
}

.persos p {
    font-size: 18px;
}

.apercu {
    width: 30%;
    margin: auto;
}

.apercu app-level {
    top: 0px;
}

/* containerQuete */
.containerQuete {
    background-image: url("../../assets/images/fond-stats.png");
    width: 400px;
    top: -250px;
    z-index: 2;
    left: 100%;
    position: absolute;
    border: 2px ridge #202020;
    padding: 10px;
    cursor: move;
    color: white;
}

.croix {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 2px solid black;
    background-color: #404040;
    width: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 100%;
    z-index: 1;
}

.descriptionQuetes {
    background-image: url("../../assets/images/fond_parchemin.png");
    padding: 0.5rem;
    gap: 0.5rem;
}

.descriptionQuetes p {
    color: black;
}

.nomQuetes {
    background-image: url("../../assets/images/fond_jaune_fonce.png");
}

.recompensePaiement {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.recompense {
    background-color: #40404050;
    padding: 5px;
    border: 1px solid black;
    gap: 0.5rem;
    width: 44%;
    height: 50px;
}

.golds img {
    width: 30px;
    height: 20px;
}

.bigText {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.formulaire {
    position: relative;
}

.formulaire p {
    white-space: nowrap;
    padding: 10px;
}

.nomItemApercu {
    white-space: nowrap;
    padding: 10px;
}