p {
    color: white;
    text-align: center;
}

.choix {
    color: white;
    white-space: nowrap;
}

.persos {
    max-width: 560px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.pv {
    color: green;
}

.pm {
    color: #5050cc;
}

.rulesContainer * {
    width: 100%;
}

.level {
    top: 8px;
}

.persos p {
    font-size: 18px;
}

.apercu {
    width: 30%;
    margin: auto;
}

.apercu app-level {
    top: 0px;
}