<div class="fenetre" [cdkDragDisabled]="fenetre=='modifMap'" [style.left]="(fenetre=='modifMap'?120:x)+'px'"
    [style.top]="(fenetre=='modifMap'?20:y)+'px'" (cdkDragEnded)="cdkDragEnded($event)" cdkDrag>
    <p class="croix clickable" (click)="close()">X</p>
    <div *ngIf="fenetre==''">
        <p *ngIf="menu.type=='map'" (click)="openWindow('addEntity')" class="choix"> Ajouter une entité</p>
        <p *ngIf="menu.type=='map'&&data.admin" (click)="openWindow('modifMap')" class="choix">(A) Modifier map</p>
        <p *ngIf="menu.type=='map'" class="choix" (click)="sauvegarde()">Sauvegarder</p>
        <p *ngIf="menu.type=='map'" class="choix" (click)="repos()">Repos</p>
        <p *ngIf="menu.type=='map'" (click)="openWindow('embuscade')" class="choix" >Embuscade</p>

        <p *ngIf="menu.type=='entite'&&peutDonnerQuetes()" (click)="openWindow('quete')" class="choix">Quetes ({{nbrQuetes}})
        </p>
        <p *ngIf="menu.type=='entite'&&perso.boutique" (click)="openWindow('boutique')" class="choix">Boutique</p>
        <p *ngIf="menu.type=='entite'&&data.admin" (click)="openWindow('addObjet')" class="choix"> (A) Ajouter un objet
        </p>
        <p *ngIf="menu.type=='entite'&&!perso.joueur" (click)="deletion()" class="choix">{{delete}}</p>
        <p *ngIf="menu.type=='entite'&&perso.familier" (click)="clickLierFamilier()" class="choix">
            {{(perso.statutFamilier=='lie'?'Délier Familier':'Lier Familier')}}</p>
        <p *ngIf="menu.type=='entite'&&perso.familier" (click)="clickAfficherFamilier()" class="choix">
            {{(perso.statutFamilier=='affiche'?'Cacher Familier':'Afficher Familier')}}</p>
        <p *ngIf="menu.type=='entite'&&perso.team>0" (click)="perso.team=perso.team-1" class="choix">Améliorer relation
        </p>
        <p *ngIf="menu.type=='entite'&&perso.team<2" (click)="perso.team=perso.team+1" class="choix">Baisser relation
        </p>
    </div>

    <app-add-entite *ngIf="fenetre=='addEntity'" [data]="data" [menu]="menu"></app-add-entite>
    <app-add-item-loot *ngIf="fenetre=='addObjet'" [data]="data" [perso]="perso"></app-add-item-loot>
    <app-modif-map *ngIf="fenetre=='modifMap'" [data]="data"></app-modif-map>
    <app-boutique *ngIf="fenetre=='boutique'" [data]="data" [perso]="perso"></app-boutique>
    <app-quete *ngIf="fenetre=='quete'" [data]="data" [perso]="perso" [quetes]="quetes"></app-quete>
    <app-embuscade *ngIf="fenetre=='embuscade'" [data]="data"></app-embuscade>
</div>