.formulaire {
    position: absolute;
    border: 1px solid black;
    z-index: 3;
    display: flex;
    margin-left: 5px;
}

.formulaire input {
    background-image: url("../../../assets/images/fond_jaune_fonce.png");
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-family: "Medieval2", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    width: 120px;
}

.formulaire button {
    background-color: #404040;
    border: unset;
    color: white;
    font-weight: bold;
    width: 20px;
}

.formulaire button:hover {
    color: red;
}