img {
    width: 50px;
    border: 2px ridge #202020;
    border-radius: 100%;
    background-color: #808080bb;
    z-index: 1;
}

app-level {
    top: -15px;
    left: 5px;
}

.selected{
    border-color:red;
    background-color: #ddd;
}