<div [@fadeIn]="getEtat()" (contextmenu)="clicDroitMap($event)" (click)="clicMap($event)">

    <app-background [data]="data"></app-background>

    <!-- ========================== LIEUX ========================== -->

    <app-lieux [data]="data" (mouseenter)="focus=true" (mouseleave)="focus=false"></app-lieux>

    <!-- ========================== PERSONNAGES ========================== -->

    <app-entites [data]="data" class="entites" (mouseenter)="focus=true" (mouseleave)="focus=false"> </app-entites>
    <app-panneau-quetes [data]="data" class="panneau_quetes" (mouseenter)="focus=true" (mouseleave)="focus=false">
    </app-panneau-quetes>

    <!-- ========================== MENU CONTEXTUEL ========================== -->

    <app-menu-contextuel class="menuContextuel" *ngIf="menuContextuel!=undefined" [menu]="menuContextuel" [data]="data"
        (closeEvent)="menuContextuel=undefined" (addEntityEvent)="addEntity($event)" (mouseenter)="focus=true"
        (mouseleave)="focus=false">
    </app-menu-contextuel>

</div>