.entites {
    position: absolute;
    left: 0;
    top: 0;
}

.video source {
    position: absolute;
    z-index: 10;
    background-color: black;
    width: 1902px;
    height: fit-content;
}





.fenetre .nomPerso {
    height: 20px;
    text-align: center;
}

.menuContextuel {
    position: absolute;
    top: 0px;
    left: 0px;
}

.panneau_quetes {
    position: absolute;
    top: 7%;
    left: 6%;
    right: 6%;
    bottom: 7%;
    height: 1200px;
}

app-entites {
    z-index: 2;
}