.map{
    width:1850px;
    border:20px ridge #202020;
}

.entites{
    position: absolute;
    left:0;
    top:0;
}

.lieux{
    position:absolute;
    border:3px ridge #505050;
    background-color:#20202030;
    border-radius:30px;
}

.nomLieu{
    font-size:25px;
    font-weight:bold;
    position:absolute;
    text-decoration: underline;
    top:-35px;
    white-space: nowrap;
    text-align: center;
    width:100%;
    color:white;
}

.retour{
    background-color:#50505080;
    width:50px;
    height:50px;
    position:absolute;
    z-index:1;
    border:5px ridge #505050;
    left:30px;
    top:30px;
}