//PDVMANA ==================================
.pdvmana p {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.pdvmana img {
    width: 100%;
    height: 100%;
}

.fill {
    position: absolute;
}

.grouppdvmana {
    border: 1px solid black;
}

.pnjsNeutres .text {
    background-color: #a08300dd;
}

.ennemis .text {
    background-color: #8d0000dd;
}

//TEXTES =====================================
.text {
    background-color: #000000bb;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.nom {
    font-size: 15px;
}

.etat {
    font-size: 14px;
}

.nom,
.pdvmanadiv p {
    font-family: "Medieval", Arial, Helvetica, sans-serif;
}