//PDVMANA ==================================
.pdvmana p {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.pdvmana img {
    width: 100%;
    height: 100%;
}

.fill {
    position: absolute;
}

.grouppdvmana {
    border: 1px solid black;
}

//TEXTES =====================================
.text-etat {
    background-color: #000000bb;
    color: white;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: 1px solid black;
}

.pnjsNeutres .text-etat {
    background-color: #a08300dd;
}

.ennemis .text-etat {
    background-color: #8d0000dd;
}

.text-etat:hover {
    color: rgb(255, 255, 160);
}

.nom {
    font-size: 15px;
}

.etat {
    font-size: 14px;
}

.nom,
.pdvmanadiv p {
    font-family: "Medieval", Arial, Helvetica, sans-serif;
    transition: all 0.4s;
}

.pdvmanadiv p:hover {
    color: red;
}

.formulaire {
    position: absolute;
    top: 0;
    left: 100%;
    border: 2px solid black;
    z-index: 2;
    display: flex;
}