<div class="container_embuscades">
    <div class="width-100">
        <p class="bigText titre">Embuscades</p>
    </div>
    <div class="width-100 flex column">
        <div>
            <p class="bigText">Types d'ennemis</p>
        </div>
        <div class="typeEnemi flex around gap-1">
            <p class="clickable bigText" 
                *ngFor="let enemi of typeEnemis"
                (click)="embuscade=enemi;typeSelected==enemi?typeSelected='':typeSelected=enemi"
                [style.color]="typeSelected==enemi?'red':'orange'">
                {{enemi|titlecase}}
            </p>
        </div>
    </div>
    <div class="flex embuscades around">
        <div class="flex wrap container_enemi">
            <div class="width-100 m-b-20">
                <p class="bigText m-b-10">Ennemis</p>
                <div class="line"></div>
            </div>
            <div class="blockEnemi flex wrap around">
                <div class="clickable enemi"
                    *ngFor="let enemi of enemisChoisi()"
                    (click)="choixEnemi=enemi;enemiSelected==enemi.id?enemiSelected='':enemiSelected=enemi.id"
                    [style.color]="enemiSelected==enemi.id?'red':'orange'">
                    <app-icone-personnage [perso]="enemi"></app-icone-personnage>
                    <p>{{enemi.nom}}</p>
                </div>
            </div>
        </div>
        <div class="flex column gap-1 container_liste">
            <div class="width-100 m-b-20">
                <p class="bigText">Liste d'ennemis</p>
                <div class="line"></div>
            </div>
            <div class="flex column gap-1 liste">
                <div class="flex gap-1 center align-center"
                    *ngFor="let entite of liste, let x = index">
                    <app-icone-personnage [perso]="entite"></app-icone-personnage>
                    <p>{{entite.nom}}</p>
                    <p class="clickable"
                        *ngFor="let niveau of entite.levels"
                        (click)="setLvl(entite,niveau)"
                        [style.color]="niveau.niveau==liste[x].niveau?'red':'orange'">
                        {{niveau.niveau}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div *ngIf="choixEnemi">
        <p class="bigText clickable" (click)="ajoutList()">Ajouter à la liste</p>
    </div>
    <div *ngIf="liste.length>0" class="valider">
        <p class="bigText clickable" (click)="addEntity()">Démarrer l'embuscade</p>
    </div>
</div>


<div class="divPerso"
    [style.top]="positionMinY+'px'"
    [style.height]="positionMaxY-positionMinY+'px'"
    [style.width]="positionMaxX-positionMinX+'px'"
    [style.left]="positionMinX+'px'">
    <p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Perso</p>
</div>

<div class="divHaut"
    [style.top]="spawnHautYMin+'px'"
    [style.height]="spawnHautYMax-spawnHautYMin+'px'"
    [style.width]="spawnHautXMax-spawnHautXMin+'px'"
    [style.left]="spawnHautXMin+'px'">
    <p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Haut</p>
</div>
<div class="divDroite"
    [style.top]="spawndroitYMin+'px'"
    [style.height]="spawndroitYMax-spawndroitYMin+'px'"
    [style.width]="spawndroitXMax-spawndroitXMin+'px'"
    [style.left]="spawndroitXMin+'px'">
    <p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Droite</p>
</div>
<div class="divBas"
    [style.top]="spawnBasYMin+'px'"
    [style.height]="spawnBasYMax-spawnBasYMin+'px'"
    [style.width]="spawnBasXMax-spawnBasXMin+'px'"
    [style.left]="spawnBasXMin+'px'">
    <p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Bas</p>
</div>
<div class="divGauche"
    [style.top]="spawngaucheYMin+'px'"
    [style.height]="spawngaucheYMax-spawngaucheYMin+'px'"
    [style.width]="spawngaucheXMax-spawngaucheXMin+'px'"
    [style.left]="spawngaucheXMin+'px'">
    <p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Gauche</p>
</div>