<div *ngFor="let lieu of getLieux()" class="lieux" [style.left]="lieu.x+'px'" [style.top]="lieu.y+'px'"
    [style.width]="lieu.finx+'px'" [style.height]="lieu.finy+'px'" (click)="rentrerLieu(lieu)"
    [cdkDragDisabled]="!data.admin" (cdkDragEnded)="endDragLieu($event,lieu)"
    [style.z-index]="changingTo&&changingTo==lieu?5:2" cdkDrag>

    <!--(cdkDragEnded)="dragEnd($event,lieu)" 
        cdkDrag>-->

    <p class="nomLieu" (mouseenter)="focus=undefined">{{lieu.nom}}</p>

    <div class="personnagesInside">
        <div *ngFor="let perso of getJoueursDansLieu(lieu)">
            <app-icone-personnage [perso]="perso" (mouseenter)="focus=perso" (click)="sortirPerso(lieu,perso)">
            </app-icone-personnage>
        </div>
    </div>

    <!-- ========================== FENETRE DE CHANGEMENT DE LIEU ========================== -->

    <div class="changeLieu fenetre" *ngIf="changingTo&&changingTo==lieu&&(lieu.canEnter==undefined||lieu.canEnter)">
        <p class="bigText">Qui rentre dans {{changingTo.nom}} ?</p>
        <div class="line"></div>
        <div *ngFor="let i of boucle">
            <div class="flexCenter nowrap">
                <div>
                    <app-icone-personnage *ngFor="let perso of getEntitesPresentes(i)" [perso]="perso"
                        (mouseenter)="focus=perso;persoHovered[i]=perso.nom + ' - ' + perso.pdv + '/'+perso.pdvmax" (click)="rentrerEntite(lieu,perso)"
                        (mouseleave)="persoHovered[i]=''"></app-icone-personnage>
                </div>
            </div>
            <p class="nomPerso">{{persoHovered[i]}}</p>
        </div>
        <div class="line"></div>
        <p class="choix" (click)="changeLieu(lieu)">Entrer</p>
    </div>
</div>