<div *ngIf="data.focusQuete!=undefined" class="voir_quete">
    <p class="croix clickable" (click)="close()">X</p>
    <img class="image_fond" src="./assets/images/{{data.focusQuete.quete.image}}.png" />
    <p class="titre_quete bigbigText">{{data.focusQuete.quete.nom}}</p>
    <p class="description_quete bigText">{{getDescription()}}</p>
    <div *ngIf="recompenses.length>0" id="recompensePaiement">
        <p class="bigText">Récompense</p>
        <div class="flex wrap gap-1 recompensePaiement">
            <div class="recompense flex align-center" *ngFor="let recompense of recompenses">
                <img src="./assets/images/items/{{getImageRecompense(recompense)}}.png" />
                <div class="flex column">
                    <p>{{recompense.nom}}</p>
                    <p>Qte: {{recompense.qte}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.focusQuete!=undefined" class="accept_quete">
        <p *ngIf="!inInventaire(data.focusQuete.quete.nom)&&!data.focusQuete.pnj" (click)="prendrePapier()"
            class="bigText clickable" (mouseleave)="papierPris = ''">{{papierPris == data.focusQuete.quete.nom &&
            papierPris != '' ? 'Confirmer vouloir
            prendre le papier ?' : 'Prendre le papier de quête !'}}</p>
        <p *ngIf="!queteEnCours" (click)="accepQuete()" class="bigText clickable">
            Accepter la quête !
        </p>
        <p *ngIf="queteEnCours" (click)="close()" class="bigText clickable">Continuer</p>
        <p *ngIf="data.focusQuete&&data.focusQuete.quete.etatQuete == 1" class="bigText">La quête a été acceptée</p>
    </div>
</div>