.bigText {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.bigbigText {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.voir_quete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 590px;
    height: 835px;
}

.croix {
    position: absolute;
    top: 10%;
    right: 10%;
    border: 2px solid black;
    background-color: #404040;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voir_quete .image_fond {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre_quete {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.description_quete {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

#recompensePaiement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.recompensePaiement {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

.recompense {
    background-color: #40404050;
    padding: 5px;
    border: 1px solid black;
    gap: 0.5rem;
    width: 44%;
    height: 50px;
}

.golds img {
    width: 30px;
    height: 20px;
}

.accept_quete {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    width: 800px;
}