*{position:relative;}
p{margin:0;}

.clickable:hover{cursor:pointer;transform: scale(1.15);}
.bold{font-weight:bold;}
.flex{display:flex;}
.flexCenter{display:flex;justify-content: center;}
.tinytext{font-size:12px;}