*{position:relative;}
p{margin:0;}

.clickable:hover{border:1px solid;border-color:red!important;cursor:pointer;background-color: #000000bb!important;}
.bold{font-weight:bold;}
.flex{display:flex;}
.flexCenter{display:flex;justify-content: center;}
.tinytext{font-size:12px;}