<div class="flex">

    <app-stuff *ngIf="perso.joueur" class="containerStuff"
        [style.z-index]="(fenetreFocused=='stuff'&&!data.itemDragged)?8:2" (mouseenter)="fenetreFocused='stuff'"
        [data]="data" [perso]="perso" cdkDrag></app-stuff>

    <div class="containerStats" [style.height]="!perso.joueur?'275px':'300px'"
        [style.z-index]="(fenetreFocused=='stats'&&!data.itemDragged)||(data.itemDragged&&data.itemDragged.perso==perso)?8:2"
        [cdkDragDisabled]="objetActifInventaire!=undefined" (mouseenter)="fenetreFocused='stats'" cdkDrag>
        <p class="croix clickable" (click)="perso.actif=false">X</p>
        <!-- PARTIE HAUTE -->
        <div class="flex">
            <div class="groupeHautGauche">
                <div class="flex">
                    <div class="hautGauche">
                        <div class="flex">
                            <div class="iconeEtGolds">
                                <img *ngIf="perso.joueur" class="icone" (click)="changeForme()"
                                    src="./assets/images/entites/minias/{{perso.forme.image}}.png">
                                <img *ngIf="!perso.joueur" class="icone" (click)="changeForme()"
                                    src="./assets/images/entites/minias/{{perso.image}}.png">
                            </div>

                            <div class="data">
                                <p class="nom bigText">{{perso.nom}}</p>
                                <div class="etat flex">
                                    <p class="clickable" (click)="formulaire='etat'">{{getEtat()}}</p>
                                    <app-formulaire *ngIf="formulaire=='etat'" [perso]="perso" [formulaire]="formulaire"
                                        (closeForm)="formulaire=''"></app-formulaire>
                                </div>
                                <p class="niveau clickable bigText" (click)="clickGain(perso, 'Niveau','niveau')">
                                    {{gain=='Niveau'?'Confirmer gain ?' : 'Niveau'}}{{ gain != "Niveau" ? perso.niveau :
                                    "" }}</p>
                            </div>
                        </div>

                        <div class="pdvmana">
                            <div class="flex pdvmanadiv">
                                <p class="pdvtext clickable" (click)="formulaire='pv'">{{perso.pdv}}/{{perso.pdvmax}}
                                </p>
                                <div class="grouppdvmana">
                                    <img class="fill" draggable="false" src="./assets/images/pdvfill.PNG"
                                        [style.width]="(perso.pdv/perso.pdvmax)*100+'%'" />
                                    <img draggable="false" src="./assets/images/pdvmanabar.png" />
                                </div>
                                <app-formulaire *ngIf="formulaire=='pv'" [perso]="perso" [formulaire]="formulaire"
                                    (closeForm)="formulaire=''"></app-formulaire>
                            </div>
                            <div class="flex pdvmanadiv">
                                <p class="manatext clickable" (click)="formulaire='mana'">
                                    {{perso.mana}}/{{perso.manamax}}
                                </p>
                                <div class="grouppdvmana">
                                    <img class="fill" draggable="false" src="./assets/images/manafill.PNG"
                                        [style.width]="(perso.mana/perso.manamax)*100+'%'" />
                                    <img draggable="false" src="./assets/images/pdvmanabar.png" />
                                </div>
                                <app-formulaire *ngIf="formulaire=='mana'" [perso]="perso" [formulaire]="formulaire"
                                    (closeForm)="formulaire=''"></app-formulaire>
                            </div>
                        </div>
                    </div>

                    <div class="groupeHautDroite" *ngIf="perso.joueur">

                        <p class="bigText">Statistiques</p>
                        <p class="clickable" *ngFor="let stat of perso.stats"
                            (click)="clickGain(perso, stat.nom,'stat')">
                            {{gain ==stat.nom ? 'Confirmer gain ?' : stat.nom}} {{gain != stat.nom ? stat.qte : "" }}
                        </p>
                    </div>

                </div>

                <div class="flex end" *ngIf="perso.joueur">

                    <div class="containerGolds flex">
                        <div class="flex golds clickable" (click)="formulaire='gold'">
                            <img src="../../../assets/images/pieces.png" />
                            <p>{{perso.argent}}</p>
                        </div>

                        <app-formulaire *ngIf="formulaire=='gold'" [perso]="perso" [formulaire]="formulaire"
                            (closeForm)="formulaire=''"></app-formulaire>
                    </div>
                </div>
            </div>


        </div>

        <!-- PARTIE BASSE -->

        <div>
            <div class="flex onglets">
                <p class="choix" [style.color]="ongletActif=='inventaire'?'white':'black'"
                    (click)="ongletActif = 'inventaire'">Inventaire</p>
                <p class="choix" [style.color]="ongletActif=='sorts'?'white':'black'" (click)="ongletActif = 'sorts'">
                    Sorts</p>
            </div>

            <app-inventaire *ngIf="ongletActif=='inventaire'" [data]="data" [perso]="perso" [type]="'inventaire'">
            </app-inventaire>
            <app-inventaire *ngIf="ongletActif=='sorts'" [data]="data" [perso]="perso" [type]="'sorts'">
            </app-inventaire>
        </div>
    </div>
</div>