.containerStats {
    background-image: url("../../../assets/images/fond-stats.png");
    width: 450px;
    height: 300px;
    top: -410px;
    z-index: 2;
    left: 70px;
    position: absolute;
    border: 2px ridge #202020;
    padding: 10px;
}

.containerStuff {
    background-image: url("../../../assets/images/fond-stats.png");
    width: 220px;
    height: 300px;
    top: -410px;
    left: -210px;
    position: absolute;
    z-index: 2;
    border: 2px ridge #202020;
    padding: 10px;
}

.containerLoot {
    background-image: url("../../../assets/images/fond-stats.png");
    width: 450px;
    height: 235px;
    top: -345px;
    left: -170px;
    position: absolute;
    z-index: 2;
    border: 2px ridge #202020;
    padding: 10px;
}

.containerStuff:hover,
.containerStats:hover,
.containerLoot:hover {
    cursor: move;
}

//PDVMANA ==================================
.pdvmana p {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.pdvmana img {
    width: 100%;
    height: 100%;
}

.fill {
    position: absolute;
}

.grouppdvmana {
    border: 1px solid black;
    width: 90%;
    height: 20px;
    margin-bottom: 2px;
}

.pdvmanadiv {
    justify-content: center;
}

.pdvmanadiv p {
    font-family: "Medieval", Arial, Helvetica, sans-serif;
    transition: all 0.4s;
}

.groupeHautGauche {
    width: 100%;
    margin-right: 5px;
}

.choix {
    font-size: 17px !important;
}

.hautGauche {
    width: 65%;
}

.groupeHautDroite {
    text-align: center;
    margin: auto;
}

.icone {
    width: 80px;
    height: 80px;
    border: 2px ridge #202020;
    border-radius: 100%;
    background-color: #808080bb;
    z-index: 2;
}

.iconeEtGolds {
    width: 30%;
}

.data {
    top: 10px;
    width: 60%;
}

.line {
    border-color: black;
    border-width: 2px;
    width: 95%;
}

//textes
.bigText {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.etat {
    top: -7px;
    justify-content: center;
}


.onglets {
    margin-top: 5px;
    justify-content: space-around;
    border: 2px solid black;
    background-image: url("../../../assets/images/fond_jaune_fonce.png");
}

.niveau {
    top: -10px;
}

//Inventaire

.inventaire {
    display: flex;
    flex-flow: wrap;
}

.containerStuff .objet {
    position: absolute;
}

.personnage {
    height: 250px;
    left: 50%;
    transform: translate(-50%);
    top: 5px;
}

.objet {
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/images/vide_inventaire.png");
    background-size: 50px;
}

.objet img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
}

.nomItem {
    position: relative;
    top: 30%;
    width: 200px;
    left: -75px;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.objet p {
    color: white;
    text-align: center;
    white-space: nowrap;
    background-color: #40404080;
}

.qteObjet {
    width: 20px;
    border: 1px solid black;
    right: -3px;
    bottom: -3px;
    position: absolute;
    background-color: rgb(20, 20, 20) !important;
    border-radius: 100%;
    pointer-events: none;
}

.nomItem p {
    width: fit-content;
    z-index: 1;
}

.objet:hover {
    cursor: pointer;
}

//Golds
.containerGolds {
    height: fit-content;
}

.golds img {
    width: 30px;
    height: 23px;
    margin-right: 5px;
}

//Quetes

.quetes {
    height: 80px;
    overflow-y: auto;
    max-height: 200px;
    border: 2px solid black;
    border-top: unset;
    padding: 10px;
}

.croix {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 2px solid black;
    background-color: #404040;
    width: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 100%;
}

.end {
    justify-content: end;
}


/* containerVendeur */

.containerVendeur{
    background-color:rgba(0, 0, 0, 0.5);
    width: 900px;
    top: -250px;
    z-index: 2;
    left: 100%;
    position: absolute;
    border: 2px ridge #202020;
    padding: 10px;
    cursor: move;
    color: white;
}
.navPerso{
    background-image: url("../../../assets/images/fond_jaune_fonce.png");
    padding: 0 0.5rem 0 0.5rem;
}
.navPerso .perso{
    margin-right: 1rem;
}
.navPerso .separator {
    height: 8px;
    width: 2px;
    background-color: white;
    margin-right: 1rem;
}
.inventairePersoBoutique{
    width: 35%;
    flex-flow: wrap;
    padding: 0.7rem 0 0.7rem 0;
    border: 2px solid black;
    padding: 0.5rem;
    background-image: url("../../../assets/images/fond-stats.png");
    flex-flow: column;
}
.inventairePersoBoutique .bigText{
    width: 40%;
}
.inventaireVendeurBoutique{
    width: 60%;
    flex-flow: wrap;
    border: 2px solid black;
    padding: 0.5rem;
    gap: 0.5rem;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../../../assets/images/fond-stats.png");
}
.objetInventaireBoutique{
    background-color: #40404050;
    padding: 0.2rem;
}
.imageItemBoutique{
    width: 40px;
    height: 40px;
}
.prix img{
    width: 30px;
    height: 20px;
}
.achat{
    width: 25%;
    text-align: center;
}