.container {
    display: grid;
    position: absolute;
    width: 140px;
    z-index: 1;
}

.entite {
    border: 1px solid transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.2s;
}

.entite:hover {
    cursor: pointer;
    border: 1px solid black;
}



//TEXTES =====================================
.text {
    background-color: #000000bb;
    color: white;
    text-align: center;
}

.nom {
    font-size: 16px;
}

.etat {
    font-size: 14px;
}

.nom,
.pdvmanadiv p {
    font-family: "Medieval", Arial, Helvetica, sans-serif;
}

//PERSO =======================================
.perso {
    top: 5px;
}

.containerPerso {
    position: absolute;
    width: fit-content;
}

.imageperso {
    height: 65px;
    transition: all 0.2s;
}

.shadow {
    position: absolute;
    bottom: -5px;
    width: 35px;
    height: 20px;
    border: 1px solid #00ff0030;
    border-radius: 100%;
    background-color: #00000050;
    transition: all 0.2s;
}

.perso:hover .imageperso {
    cursor: grab;
    transform: scale(1.2);
}

.perso:hover .shadow {
    cursor: grab;
    bottom: -10px;
    transform: scale(1.2);
}

//AMIS =================================================

.pnjsNeutres .shadow {
    border: 1px solid #a08300dd;
}

//ENNEMIS ==============================================

.ennemis .shadow {
    border: 1px solid #8d0000dd;
}

//STATS =================================================

.title {
    color: red;
    margin-bottom: 0.4rem;
}