<div [ngClass]="type">
    <div [ngClass]="{'container':true,'dead':perso.pdv<=0}" *ngFor="let perso of getEntites()"
        [style.left]="(data.lieuActuel.parent==''?perso.x:perso.xcombat)+'px'"
        [style.top]="(data.lieuActuel.parent==''?perso.y:perso.ycombat)+'px'" (cdkDragEnded)="dragEnd($event,perso)"
        (contextmenu)="clicDroit($event, perso)" cdkDrag>

        <!-- PARTIE INFOS =================================================== -->

        <div class="entite" (click)="perso.actif=!perso.actif">
            <app-infos-entite [perso]="perso" [type]="type"></app-infos-entite>
        </div>

        <!-- IMAGE + SHADOW =================================================== -->

        <div class="containerPerso"
            [style.top]="(this.data.lieuActuel.scale&&this.data.lieuActuel.scale>1?(this.data.lieuActuel.scale)*20+79+'px':'84px')"
            [style.transform]="'scale(' + (this.data.lieuActuel.scale?this.data.lieuActuel.scale:1) + ')'"
            [style.left]="(perso.overrideX?perso.overrideX+'%':'40%')">
            <div class="perso" [ngClass]="{'revert':isReverted(perso)}">
                <img class="imageperso" draggable="false" src="./assets/images/{{perso.image}}.png" cdkDragHandle />
                <div class="flexCenter">
                    <div class="shadow " cdkDragHandle></div>
                </div>
            </div>
        </div>

        <!-- LEVEL =================================================== -->

        <app-level [niveau]="perso.niveau"></app-level>

        <!-- ========================== MENU CONTEXTUEL ========================== -->

        <app-menu-contextuel class="menuContextuel"
            *ngIf="menuContextuel&&persoMenuContextuel&&persoMenuContextuel==perso" [menu]="menuContextuel"
            [data]="data" (deleteEvent)="majFromChild()">
        </app-menu-contextuel>

        <!-- STATS PERSO ACTIF ================================================= -->

        <div *ngIf="perso.actif" class="container-stats">
            <div class="container-block">
                <div class="container1">
                    <div class="block1">
                        <div class="minia">
                            <ul>
                                <li *ngFor="let form of perso.formes">
                                    <img *ngIf="form.nom == perso.forme" src="./assets/images/{{form.minia}}.png" (click)="perso.forme = form.nom">
                                </li>
                            </ul>
                            <div class="minia2">
                                <ul>
                                    <li *ngFor="let form of perso.formes">
                                        <img *ngIf="form.nom != perso.forme" src="./assets/images/{{form.minia}}.png" (click)="perso.forme = form.nom">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-base">
                            <h3>{{ perso.nom }}</h3>
                            <div>
                                <p>Niveau {{ perso.niveau }}</p>
                            </div>
                            <h3>{{ perso.classe | titlecase }}</h3>
                            <h3>{{ perso.etat }}</h3>
                            <p><span class="title">Forme : </span>{{ perso.forme }}</p>
                        </div>
                    </div>
                    <div class="flex bottomGroup">
                        <div class="pdvmana">
                            <div class="flex pdvmanadiv">
                                <p class="pdvtext">{{perso.pdv}}/{{perso.pdvmax}}</p>
                                <div class="grouppdvmana">
                                    <img class="fill" draggable="false" src="./assets/images/pdvfill{{(type=='ennemis'?'2':'')}}.PNG"
                                        [style.width]="(perso.pdv/perso.pdvmax)*100+'%'" />
                                    <img draggable="false" src="./assets/images/pdvmanabar.png" />
                                </div>
                            </div>
                            <div class="flex pdvmanadiv">
                                <p class="manatext">{{perso.mana}}/{{perso.manamax}}</p>
                                <div class="grouppdvmana">
                                    <img class="fill" draggable="false" src="./assets/images/manafill.PNG" />
                                    <img draggable="false" src="./assets/images/pdvmanabar.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block2">
                        <div>
                            <img src="./assets/images/piece d'or.png"/>
                            <p>{{ perso.argent }}</p>
                        </div>
                    </div>
                </div>
                <div class="container2">
                    <div>
                        <div>
                            <span class="title">Arme principale : </span>
                            <br>
                            <p *ngIf="perso.arme1">{{ perso.arme1 }}</p>
                        </div>
                        <div>
                            <span class="title">Arme secondaire : </span>
                            <br>
                            <p *ngIf="perso.arme2">{{ perso.arme2 }}</p>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <h2>Statistique</h2>
                    <ul>
                        <li *ngFor="let stat of perso.stats">
                            <p>{{ stat.nom }} : {{ stat.qte }}</p>
                        </li>
                    </ul>
                </div>
                <div class="container3">
                    <h3 (click)="ongletActif = 'inventaire'">Stuffs</h3>
                    <div class="separator"></div>
                    <h3 (click)="ongletActif = 'quetePrincipale'">Quêtes Principales</h3>
                    <div class="separator"></div>
                    <h3 (click)="ongletActif = 'queteSecondaire'">Quêtes Secondaires</h3>
                </div>
                <div class="container4">
                    <div *ngIf="ongletActif == 'inventaire'" class="ul">
                        <div *ngFor="let stuff of perso.inventaire" class="li">
                            <img class="fond_objet" src="./assets/images/vide_inventaire.png"/>
                            <img class="objet" *ngIf="stuff.image" src="./assets/images/{{ stuff.nom }}.png"/>
                            <span *ngIf="stuff.nom">{{ stuff.qte }}</span>
                        </div>
                    </div>
                </div>
                <div class="container5">
                    <ul *ngIf="ongletActif == 'quetePrincipale'">
                        <li *ngFor="let quete of getQuetePrincipale()">
                            <div *ngIf="quete.perso == perso.nom">
                                <h3>{{ quete.nom }}</h3>
                                <p>{{ quete.description }}</p>
                                <p>Etape : {{ quete.etape }}</p>
                                <h4>{{ quete.etat }}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="container6">
                    <ul *ngIf="ongletActif == 'queteSecondaire'">
                        <li *ngFor="let quete of getQueteSecondaire()">
                            <div>
                                <h3>{{ quete.nom }}</h3>
                                <p>{{ quete.description }}</p>
                                <p>Etape : {{ quete.etape }}</p>
                                <h4>{{ quete.etat }}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>