.container {
    display: grid;
    position: absolute;
    width: 140px;
    z-index: 100;
}

.entite {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.entite:hover {
    cursor: pointer;
    border: 1px solid black;
}

//PDVMANA ==================================
.pdvmana p {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.pdvmana img {
    width: 100%;
    height: 100%;
}

.fill {
    position: absolute;
}

.grouppdvmana {
    border: 1px solid black;
}

//TEXTES =====================================
.text {
    background-color: #000000bb;
    color: white;
    text-align: center;
}

.nom {
    font-size: 16px;
}

.etat {
    font-size: 14px;
}

.nom,
.pdvmanadiv p {
    font-family: "Medieval", Arial, Helvetica, sans-serif;
}

//PERSO =======================================
.perso {
    top: 5px;
}

.containerPerso {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.imageperso {
    z-index: 2;
    height: 65px;
    transition: all 0.2s;
}

.shadow {
    position: absolute;
    bottom: -5px;
    width: 35px;
    height: 20px;
    border: 1px solid #00ff0030;
    border-radius: 100%;
    z-index: 1;
    background-color: #00000050;
    transition: all 0.2s;
}

.perso:hover .imageperso {
    cursor: grab;
    transform: scale(1.2);
}

.perso:hover .shadow {
    cursor: grab;
    bottom: -10px;
    transform: scale(1.2);
}

//AMIS =================================================

.pnjsNeutres .text {
    background-color: #a08300dd;
}

.pnjsNeutres .shadow {
    border: 1px solid #a08300dd;
}

//ENNEMIS ==============================================

.ennemis .text {
    background-color: #8d0000dd;
}

.ennemis .shadow {
    border: 1px solid #8d0000dd;
}

//STATS =================================================
.container-stats {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 400%;
    padding: 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 6px;
}

.container-stats button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.container-stats .block-perso {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.container-stats .block-forme {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
}

.container-stats p {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 0.4rem;
}

.title {
    color: red;
    margin-bottom: 0.4rem;
}