<div>
    <div [ngClass]="{'container':true,'dead':perso.pdv<=0,'pnjsNeutres':perso.team==1,'ennemis':perso.team==2}"
        *ngFor="let perso of getEntitesPresentes()"
        [style.left]="(data.lieuActuel.parent==''?perso.x:perso.xcombat)+'px'"
        [style.top]="(data.lieuActuel.parent==''?perso.y:perso.ycombat)+'px'"
        [style.z-index]="perso==lastPersoClicked?2:1" (cdkDragEnded)="dragEnd($event,perso)"
        (cdkDragStarted)="lastPersoClicked=perso" (contextmenu)="clicDroit($event, perso)"
        (click)="lastPersoClicked=perso" cdkDrag>

        <!-- PARTIE INFOS =================================================== -->

        <div class="entite">
            <app-infos-entite [perso]="perso" (persoActuel)="clickPersoActuel($event)"></app-infos-entite>
        </div>

        <!-- IMAGE + SHADOW =================================================== -->

        <div class="containerPerso"
            [style.top]="getTop(perso)"
            [style.transform]="getScale(perso)"
            [style.left]="(perso.overrideX?perso.overrideX+'%':'40%')">
            <div class="perso" [ngClass]="{'revert':isReverted(perso)}">
                <img *ngIf="perso.statutFamilier=='lie'" class="imagefamilier" draggable="false"
                    [style.left]="perso.familier.posLinkedX+'px'" [style.top]="perso.familier.posLinkedY+'px'" [style.height]="perso.familier.posHeight+'px'" src="./assets/images/{{perso.familier.image}}.png"
                    cdkDragHandle />
                <img class="imageperso" draggable="false" src="./assets/images/{{perso.image}}.png" cdkDragHandle />
                <div class="flexCenter">
                    <div class="shadow" cdkDragHandle></div>
                </div>
            </div>
        </div>

        <!-- LEVEL =================================================== -->

        <app-level [niveau]="perso.niveau"></app-level>

        <!-- ========================== MENU CONTEXTUEL ========================== -->

        <app-menu-contextuel class="menuContextuel"
            *ngIf="menuContextuel&&persoMenuContextuel&&persoMenuContextuel==perso" [menu]="menuContextuel"
            [perso]="perso" [data]="data" (deleteEntityEvent)="delete()" (closeEvent)="menuContextuel=undefined">
        </app-menu-contextuel>

        <!-- STATS PERSO ACTIF ================================================= -->

        <app-stats-personnage [perso]="perso" [data]="data" (closeForm)="persoActuel='';nomPersoActuel=''"
            *ngIf="nomPersoActuel == perso.nom">
        </app-stats-personnage>

    </div>
</div>